.profile {
	grid-area: area_profile;
	// background: bisque;
	padding: 10px;
	margin: 0;
	width: 100%;
	/* height: calc(100% - 10px); */
	height: 100%;
	overflow-y: auto;
	scrollbar-gutter: stable;
	background: #fff;
	// border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	&::-webkit-scrollbar {
		border-radius: 50px;
		width: 11px;
	}
	&::-webkit-scrollbar-track {
		background-color: transparent;
		border-radius: 50px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.2);
		border-radius: 50px;
		border: solid 3px transparent;
		border-right-width: 4px;
		box-sizing: border-box;
		background-clip: content-box;
	}
}
