.app_dialogs_items {
	margin: 0;
	padding: 0;
}
.app_dialogs_item {
	margin: 10px 0;
	padding: 0;
}
.app_dialogs_item a {
	text-decoration: none;
	color: inherit;
	margin: 0;
	padding: 0;
}
.app_dialogs_item a:hover {
	color: rgb(255, 244, 182);
}
.app_dialogs_item a.active {
	font-weight: bold;
	color: rgb(35, 35, 29);
}
