.app_dialogs_item {
	margin: 10px 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.app_dialogs_avatar {
	display: block;
	width: 100%;
	height: 100%;
	max-width: clamp(30px, 3vw, 50px);
	margin: clamp(4px, 0.5vw, 8px) clamp(4px, 1.25vw, 10px);
	font-size: 0.6em;
}
.app_dialogs_item a {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-decoration: none;
	color: inherit;
	margin: 0;
	padding: 0;
}
.app_dialogs_name {
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.app_dialogs_item a:hover {
	color: rgb(110, 110, 110);
}
.app_dialogs_item a.active {
	color: rgb(35, 35, 29);
	// background: rgb(255, 254, 247);
	background: rgb(220, 235, 255);
	// outline: 1px solid rgba(0, 0, 0, 0.2);
	width: 100%;
	border-radius: 5px;
}
