.app_header {
	grid-area: app_header;
	margin: 0;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background: aquamarine;
}
.app_header img {
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	width: 10%;
	max-width: 100px;
}
.app_header p {
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	width: 90%;
	text-align: center;
	margin-left: calc(0px - 100px / 2);
	font-weight: bold;
	font-size: clamp(1.5em, 5vw, 2.5em);
}
