.app_nav {
	grid-area: app_nav;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 10px;
	background: coral;
	/* height: calc(100% - 10px); */
	height: 100%;
	width: 100%;
}
.app_nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.app_nav_li {
	margin-bottom: 20px;
}
.app_nav_li:last-child {
	margin-bottom: 0;
}
.app_nav_li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}
.app_nav_li a:hover {
	color: rgb(255, 244, 182);
}
.app_nav_li a.activelink {
	color: rgb(255, 251, 31);
}

.app_nav_friends {
	margin-top: 60px;
}
