.paginatorBlock {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	&_pages {
		display: block;
		padding: 5px 0;
		text-align: center;
		span {
			margin: 0 8px;
			cursor: pointer;
			font-size: 0.8em;
			&:hover {
				color: rgba(88, 88, 88, 0.8);
			}
		}
	}
	button {
		margin: 3px 10px 0;
		padding: 0;
		border: none;
		background: none;
		font-size: 0.8em;

		padding: 4px 8px;
		border-radius: 5px;
		border: 1px solid rgba(0, 0, 0, 0.3);
		background: #fbfcfd;
		height: 28px;
		width: max-content;
		&:hover {
			background: #dcebff;
			// color: rgba(88, 88, 88, 0.8);
		}
	}

	&_selectedPage {
		font-weight: bold;
	}
	&_prev {
		transform: rotateY(180deg);
	}
}
.enabledButton {
	color: inherit;
	cursor: pointer;
	pointer-events: all;
}
.disabledButton {
	color: rgba(88, 88, 88, 0.8);
	cursor: auto;
	pointer-events: none;
}
