.wrapper {
	/* overflow: hidden; */
	margin: 0 auto;
	display: grid;
	grid-template-columns: 20% calc(80% - 10px);
	/* grid-template-rows: 10% calc(90% - 10px); */
	/* grid-template-columns: 2fr 8fr; */
	grid-template-rows: 1fr 9fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	grid-template-areas:
		'area_header area_header'
		'area_navbar area_profile';
	height: 100vh;
	width: 100%;
	max-width: 1000px;
	&_content {
		grid-area: area_profile;
		overflow: hidden;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		position: relative;
	}
}

.notFound {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 18px;
}

.activelink {
	background: #e6f4ff;
	color: #1677ff;
	border-radius: 5px;
	width: 100%;
}
