.app_dialogs {
	// background: rgb(169, 249, 253);
	padding: 10px;
	padding-right: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: grid;
	grid-template-columns: 30% calc(70% - 10px);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	position: relative;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	&_messages {
		margin: 0;
		padding: 0;
		height: calc(100% - 61px);
		width: 100%;
		overflow-y: auto;
		scrollbar-gutter: stable;
		&::-webkit-scrollbar {
			border-radius: 50px;
			width: 11px;
		}
		&::-webkit-scrollbar-track {
			background-color: transparent;
			border-radius: 50px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: rgba(0, 0, 0, 0.3);
			border-radius: 50px;
			border: solid 3px transparent;
			border-right-width: 4px;
			box-sizing: border-box;
			background-clip: content-box;
		}
	}
	&_items {
		margin: 0;
		padding: 0;
		width: 96%;
		overflow-y: auto;
		position: relative;
		&::after {
			position: absolute;
			content: '';
			right: -5%;
			top: 50%;
			transform: translateY(-50%);
			width: 2px;
			height: 95%;
			border-radius: 50%;
			background: #edeef0;
			/* background: linear-gradient(
				0deg,
				rgba(255, 255, 255, 0) 0%,
				rgba(255, 255, 255, 1) 20%,
				rgba(255, 255, 255, 1) 80%,
				rgba(255, 255, 255, 0) 100%
			); */
		}
		&::-webkit-scrollbar,
		&::-webkit-scrollbar-track,
		&::-webkit-scrollbar-thumb {
			display: none;
		}
	}
	&_newMessage {
		position: absolute;
		bottom: 10px;
		left: calc(30% + 15px);
		max-height: 50px;
		width: 100%;
		max-width: calc(70% - 28px);
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	&_textarea {
		border-radius: 5px;
		border: 1px solid rgba(0, 0, 0, 0.25);
		resize: none;
		width: calc(100% - 10px);
		padding: 8px;
		margin-right: 10px;
		max-height: 50px;
		height: 100%;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.8em;
		line-height: 120%;
		background: #edeef0;
		&::-moz-placeholder {
			transform: translateY(33%);
		}
		&::-webkit-input-placeholder {
			transform: translateY(33%);
		}
		&:-ms-input-placeholder {
			transform: translateY(33%);
		}
		&::-webkit-scrollbar {
			border-radius: 50px;
			width: 11px;
		}
		&::-webkit-scrollbar-track {
			background-color: transparent;
			border-radius: 50px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: rgba(0, 0, 0, 0.3);
			border-radius: 50px;
			border: solid 3px transparent;
			border-right-width: 4px;
			box-sizing: border-box;
			background-clip: content-box;
		}
	}

	&_button {
		height: 50px;
		/* width: 50px; */
		/* border-radius: 50%; */
		border-radius: 5px;
		border: 1px solid rgba(0, 0, 0, 0.25);
		// color: white;
		// background: rgb(136, 187, 255);
		background: rgb(220, 235, 255);
		font-size: 0.8em;
		text-align: center;
		align-items: center;
		cursor: pointer;
	}
}
