.app_dialogs {
	background: rgb(169, 249, 253);
	padding: 10px;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 30% calc(70% - 10px);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	position: relative;
}
.app_dialogs_messages {
	margin: 0;
	padding: 0;
	height: calc(100% - 51px);
	width: 100%;
	overflow-y: scroll;
}
.app_dialogs_items {
	margin: 0;
	padding: 0;
}
.app_dialogs_newMessage {
	position: absolute;
	bottom: 10px;
	left: calc(30% + 15px);
	max-height: 50px;
	width: 100%;
	max-width: calc(70% - 24px);
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.textarea {
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	resize: none;
	width: calc(100% - 10px);
	padding: 8px 15px;
	margin-right: 10px;
	max-height: 50px;
	height: 100%;
}
.button {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.3);
	color: white;
	background: rgb(136, 187, 255);
	text-align: center;
	align-items: center;
	font-size: 80%;
	font-weight: bold;
	cursor: pointer;
}
