.app_dialogs_message {
	margin: 10px 0;
	padding: 0;
}
.app_dialogs_message {
	max-width: 96%;
}
.app_dialogs_message p {
	padding: 8px 15px;
	border-radius: 20px;
	max-width: -moz-fit-content;
	max-width: -webkit-fit-content;
	max-width: fit-content;
	overflow-wrap: break-word;
	word-wrap: break-word;
	white-space: -moz-pre-wrap !important;
	white-space: -webkit-pre-wrap;
	white-space: pre-wrap;
	white-space: normal;
	word-break: break-all;
}
.app_dialogs_messageIn {
	margin: 10px 0;
	margin-left: 5px;
	margin-right: auto;
	background: white;
	position: relative;
}
.app_dialogs_messageIn::before {
	content: '';
	position: absolute;
	left: -5px;
	bottom: 0px;
	width: 10px;
	height: 10px;
	background: white;
	border-radius: 50%;
}
.app_dialogs_messageOut {
	margin: 10px 0;
	margin-left: auto;
	// background: rgb(236, 255, 212);
	background: rgb(220, 235, 255);
	position: relative;
}
.app_dialogs_messageOut::after {
	content: '';
	position: absolute;
	right: -5px;
	bottom: 0px;
	width: 10px;
	height: 10px;
	// background: rgb(236, 255, 212);
	background: rgb(220, 235, 255);
	border-radius: 50%;
}
