.app_settings {
	padding: 10px;
	width: 100%;
	// height: calc(100% - 10px * 2);
	height: 100%;
	// border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	background: #fff;
	background: rgb(247, 253, 169);
}
.app_settings p {
	margin: 0;
	padding: 0;
}
